@model IEnumerable<Nhom1_VanPhongPham.Areas.admin.Models.DanhMuc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaCha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaCha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDanhMuc }, new {@class="btn btn-sm btn-success" })
            @Html.ActionLink("Details", "Details", new { id=item.MaDanhMuc }, new  {@class="btn btn-sm btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDanhMuc }, new {@class="btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
