@model IEnumerable<Nhom1_VanPhongPham.Areas.admin.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Tạo mới", "Create", null, new {@class="btn btn-sm btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VaiTro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaiTro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTaiKhoan }, new {@class="btn btn-sm btn-success" })
            @Html.ActionLink("Details", "Details", new { id=item.MaTaiKhoan }, new {@class="btn btn-sm btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTaiKhoan }, new {@class="btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
